.bd-example-modal-lg {
    height: 900px;
}

.navbar-dark .navbar-toggler {
    /* border-color: #959aa9; */
    border: 0px;
}

.lead {
    color: #5A6669;
}

div.card-body {
    color:#5B6669;
    font-family: Montserrat;
}

#upstream {
    text-decoration: none;
    font-weight: bold;
}

/* unvisited link */
a:link {
    color: #0DB4B1;

  }
  
  /* visited link */
  a:visited {
    color: #0DB4B1;
    ;
  }
  
  /* mouse over link */
  a:hover {
    color: #CA4713;
  }
  
  /* selected link */
  a:active {
    color: #CA4713;
  }
    
    
  }

i.fas,
i.far,
i.fab {
  /* color: white; */
  margin-right: .25em;
}

.text-1 {
    color: #CA4713;
}
a {
    color:#5B6669;
}

    H1 {
    font-family: "Suez One", serif;
    color: #C54622;--
    ;
}

H3 {
    font-family: "Suez One", serif;
    color: #C54622;--
    ;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a.text-muted {
text-decoration: none;
}


.jumbo {
    background-color: #F7f6f6;
}

.fab {
    background-color: #ffffff;
    padding-right: .5em;
}

.nav-color {
background: #959aa9;
}

/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    background: #959aa9; 
} 

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .card-body {
      height: 100%;
  }

  .work {
      background-color: #5B6669;
  }



#F7f6f6
#8c855a
#959aa9 Mantee
#826678 
#3f393e Thunder

--dark: #CA4713
--bright-1: #DBCC3B
--bright-2: #F7E778
--tone-1: #7DD585
--tone-2: #0DB4B1